# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
dist/
*.db

# Node
node_modules/
dist/
.vite/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Arduino build artifacts
*.hex
*.elf
build/
